<!--{% extends "templates/index.html" %}

{% block title %}jinja{% endblock %} 

{% block main %}-->

<!DOCTYPE html>
<html>

<head>
  <title>VirtualHospital</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>

  <header class="site-header clearfix">
    <nav>
      <div class="logo">
        <h1 style="font-size: 50px; font-family:fantasy;"><b>InstaDiagnose</b></h1>

      </div>
      <div class="menu">
        <ul>
          <li><a href="index.html">
              <h3><b>Home</b></h3>
            </a></li>
          <li><a href="precautions.html">
              <h3><b>Precautions</b></h3>
            </a></li>
          <!--<li><a href="aboutus.html">AboutUs</a></li>-->

        </ul>
      </div>
    </nav>
    <section>
      <div class="leftside">
        <img
          src="https://img.freepik.com/free-photo/doctor-with-stethoscope-touching-digital-icons_104033-2.jpg?size=626&ext=jpg&ga=GA1.2.993920555.1613730543">


      </div>
      <div class="rightside">
        <h1>Detecting Covid-19 and Pneumonia</h1>
        <p> Now, <br><br>No need to go to the hospitals!! Detect the disease here only! </p>
<br><br>
        <a href="base.html">
          <button>Upload X-ray here</button>
        </a>
      </div>

    </section>

  </header>








  <footer>
    <div class="center">

      Copyright &copy; www.VirtualHospital.com -All rights are reserved<br><br>
    </div>

  </footer>



</body>

</html>

<!--{% endblock %}-->